@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* Nav style */
.nav-container {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

nav a {
    gap: 80px;
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* Banner style */

div img {
    width: 80%;
    height: 80%;
    margin-left: 140px;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}


/* Our popular tour section style */
.tour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 135px;
    margin-left: 135px;
    margin-right: 135px;
}

.tour-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.tour-image {
    width: 540px;
    height: 550px;
    margin-left: 50px;
}

.btn-primary {
    padding: 14px 35px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

/* Choose Your destination style start */
.destination-title {
    margin-top: 150px;
    margin-bottom: 10px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

img {
    width: 100%;
    height: 100%;
    gap: 10px;
}

.destination-img-1 {
    width: 90%;
    height: 90%;
    display: flex;
    border-radius: 16px;
    margin-bottom: 24px;
}

.destination-img-2 {
    width: 90%;
    height: 90%;
    display: flex;
    border-radius: 16px;
}

.destination-img-3 {
    width: 90%;
    height: 90%;
    /* width: 573px;
    height: 300px; */
    display: flex;
    border-radius: 16px;
    margin-top: 24px;
    margin-left: 135px;
    margin-right: 735px;
}

.Image-01 {
    width: 374px;
    height: 286px;
    margin-right: 930px;
}

.Image-02 {
    margin-left: -900px;
    width: 474px;
    height: 286px;
}

.Image-03 {
    margin-left: 15px;
    width: 274px;
    height: 286px;
}

/* <!-- Why Choose us style start --> */
.choose-title {
    margin-top: 100px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.choose-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

/* <!-- Why Choose us style start --> */

.first-box {
    margin-top: 100px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
}

.first-box,
img {
    width: 50%;
    height: 50%;
}




.news-container {
    display: flex;
    margin-top: 100px;
}
.news-description {
    margin-left: 135px;
}
.news-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.news-par-des{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
}
.input-item{
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px; 
}
.news-image{
    border-radius: 16px;

}
footer{
    background: rgba(19, 19, 24, 0.05);
    width: 1440px;
    height: 502px;
}
.footer-heading{
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-top: 110px;
}
.footer-des{
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
}
.footer-img{
    width: 25%;
    margin-top: 35px;
    margin-left: 535px;
}
.footer-line-img{
    background: rgba(19, 19, 24, 0.10);
}
.footer-des-2{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-top: 80px;
}